@charset "UTF-8";
  
/* レスポンシブ設定 */

$breakpoints: (
    "ssp" : "screen and (max-width:320px)",
    "sp" : "screen and (max-width:375px)",
    "spmax" : "screen and (max-width:540px)",
    "tb" : "screen and (max-width:768px)",
    "mb" : "screen and (max-width:900px)",
    "nb" : "screen and (max-width:1024px)",
    "dt" : "screen and (max-width:1440px)",
) !default;

@mixin pc($breakpoint :nb){
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@media screen and (min-width:321px){
    .ssp{display:none;}
}
@media screen and (min-width:541px){
    .sp{display:none;}
}
@media screen and (max-width:540px){
    .pc{display:none;}
}
@media screen and (min-width:769px){
    .tb{display:none;}
}
@media screen and (max-width:768px){
    .nb{display:none;}
}

// スタイル定義
:root{
    --base-black:#3C3C3C;
    --base-darkgray:#858585;
    --base-gray:#CCCCCC;
    --base-lightgray:#EAEAEA;
    --base-blightgray:#F6F6F6;
    --base-white:#FFFFFF;

    --blue-dark:#6068D5;
    --blue-main:#7980E9;
    --blue-light:#E2E4FF;
    --blue-blight:#F6F7FF;

    --sky-moredark:#199FB4;
    --sky-dark:#1EBED7;
    --sky-main:#79DAE9;
    --sky-light:#E3FCFF;
    --sky-blight:#F2FEFF;

    --green-dark:#2AC854;
    --green-main:#82E36C;
    --green-light:#E3FFDD;
    --green-blight:#F1FFEE;

    --accent-gradation:linear-gradient(135deg,var(--green-main),var(--sky-main),var(--blue-main));
    --accent-light-gradation:linear-gradient(135deg,var(--green-light),var(--sky-light),var(--blue-light));
}

//===============
//下層ページのheaderのcss
//=================
header{
    background-color: var(--base-white);
    border-bottom: 1px solid var(--base-gray);
}


// 404ページ
.page404{
    .title-block{
        padding: 120px 0 50px;
        text-align: center;
        h1{
            color: var(--base-darkgray);
            font-size: 60px;
        }
        p{
            &.subtitle{
                font-family: 'Bold';
                font-size: 18px;
                margin-bottom: 25px;
            }
            &.content{
                color: var(--base-darkgray);
            }
        }
    }
    .button-block{
        padding: 50px 0;
        background: var(--base-blightgray);
        p{
            margin-bottom: 30px;
            text-align: center;
            font-family: 'Bold';
            &.title{
                font-size: 16px;
                margin: 30px auto 20px;
            }
        }
        a{
            &.btn-outline{
                &.mt{
                    margin-top: 16px;
                }
            }
        }
    }
}

// プラポリ＋特商法
.law{
    .top-title{
        background-color: var(--base-darkgray);
        padding: 130px 0 35px;
        margin-bottom: 35px;
        h1{
            color: var(--base-white);
            font-size: 26px;
            text-align: center;
            margin-bottom: 10px;
            font-family: 'Bold';
        }
        p{
            &.en{
                font-size: 12px;
                text-align: center;
                color: var(--base-white);
            }
        }
    }
    .content{
        padding: 0 0 60px;
        p{
            color: var(--base-darkgray);
            font-size: 13px;
        }
        h2{
            text-align: left;
            font-family: 'Bold';
            margin: 30px auto 15px;
            font-size: 16px;
        }
        .items{
            .box{
                background: var(--base-blightgray);
                padding: 10px 20px;
                margin-bottom: 10px;
                border-radius: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            p{
                color: var(--base-black);
                &.subtitle{
                    font-size: 12px;
                    color: var(--base-darkgray);
                    margin-bottom: 5px;
                }
            }
        }
    }
}