@import "./mixin";

/* レスポンシブ設定 */

$breakpoints: (
  "ssp": "screen and (max-width:320px)",
  "sp": "screen and (max-width:540px)",
  "tb": "screen and (max-width:768px)",
  "mb": "screen and (max-width:900px)",
  "nb": "screen and (max-width:1200px)",
  "np": "screen and (max-width:1440px)"
) !default;

@mixin pc($breakpoint: nb) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  position: relative;
  // padding-bottom: 50px;
  font-family: "Noto Sans JP", sans-serif;
  color: #534744;
}

main {
  margin: auto;
  padding-top: 80px;
  font-size: 18px;
  line-height: 1.5;
  color: #4D4D4D;
  @include pc(sp){
    font-size: 16px;
  }
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/* TB・ハンバーガー表示（〜1200px） */
@media screen and (max-width: 1200px) {
  .tb {
    display: block !important;
  }
}
@media screen and (min-width: 1201px) {
  .tb {
    display: none !important;
  }
}

.fadein {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-fadein {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}

.is-scroll-fadein {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

header {
  position: fixed;
  display: flex;
  z-index: 2000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  height: 80px;
  margin: auto;
  background-color: white;
  color: #534744;
  @include pc(sp){
    height: 60px;
  }
  &.header {
    display: none;
  }
}

header .logo {
  width: auto;
}

header .logo img {
  width: 250px;
  margin: 0;
  @include pc(tb){
    width: 200px;
  }
}

.title h2 {
  font-size: 200%;
  color: #534744;
  margin-top: 20px;
  letter-spacing: 1.44px;
}

.title span {
  color: #cf92a0;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.fixed-menu {
  position: fixed;
  color: white;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
  background-color: white;
  max-width: 1120px;

  @include sp {
    width: 100%;
  }
}

.fixed-menu ul {
  display: flex;
  justify-content: space-between;

  li {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7a6558;
    padding: 2% 0;
    cursor: pointer;

    @include sp {
      display: block;
      padding: 4% 0;
      text-align: center;
    }

    div {
      text-align: center;
    }

    a {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}

.store {
  padding-top: 50px;
  position: relative;
  max-width: 1250px;
  min-width: 1000px;
  width: 80%;
  margin: auto;
}

.store-line {
  width: 25%;
  height: 0.5px;
  background: black;
  position: absolute;
  top: 9%;
  left: 12%;
  z-index: 1000;
  transform: rotate(-45deg);
}

.store-container {
  background-color: #f5f5f5;
  padding: 9%;
  width: 80%;
  margin: 6% auto 3%;
  position: relative;
}

.store-logo {
  position: absolute;
  right: -10%;
  top: 0;
  width: 10%;
}

.store-day {
  margin-bottom: 8%;
  font-size: 90%;
}

.store-day span {
  color: #534744;
}

.store-day img {
  width: 100%;
  margin: 10px 0;
}

.store-address-title {
  color: #cf92a0;
  display: inline-block;
  border-color: #cf92a0;
  border: solid 1px;
  padding: 5px 12px;
  margin: 40px 0 15px;
  font-size: 110%;
}

.store-address-detail {
  color: #534744;
  line-height: 180%;
  margin-bottom: 2%;
}

.store-address-map {
  margin: 10px 0;
  width: 100%;
  height: 350px;
}

.store-access {
  margin-top: 8%;
}

.store-access-detail {
  color: #534744;
  margin-bottom: 20px;
  line-height: 180%;
}

.store-access-img {
  margin: 10px 0;
}

.store-access-img img {
  width: 100%;
}

.store .title {
  padding: 3% 0% 0;
}

.modal-call-container {
  position: relative;
  padding: 3% 7% !important;
}

.modal-call-title {
  position: absolute;
  left: 0;
  right: 0;
  top: -80%;
  text-align: center;
}

.modal-menu-online-title {
  margin: auto;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.modal-line-title {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.modal-call-title span,
.modal-line-title span,
.modal-menu-online-title span {
  font-size: 160%;
  color: white;
  display: inline-block;
  padding: 30px 0 10px;
  border-bottom: 1px solid white;
}

.modal-call-phone {
  font-size: 180%;
  margin: 2% 0 5%;
}

.modal-reserve-day {
  width: 100%;
  display: block;
}

.modal-reserve-day img {
  width: 100%;
}

.modal-reserve-day span {
  display: inline-block;
  color: #534744;
  margin-top: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 80%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
}

.modal-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 60%;
}

.modal-content {
  background: #fff;
  text-align: left;
  padding: 8%;
}

.modal-call-close,
.modal-line-close,
.modal-menu-online-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  z-index: 2000;
}

.modal-line-icon-area {
  margin: 30px auto 40px;
}

.modal-line-icon-img {
  width: 40%;
  max-width: 150px;
  margin: auto;
}

.modal-line-icon-img img {
  width: 100%;
}

.modal-line-icon-area p {
  line-height: 150%;
  font-size: 80%;
  margin: 10px 0;
  color: white;
}

.modal-line-step {
  background-color: white;
  color: #534744;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.modal-line-step img {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  height: auto;
}

.modal-line-arrow {
  display: block;
  margin: 20px auto;
}

.modal-menu-online-container {
  position: relative;

  .modal-menu-online-list-area {
    margin: 8% auto;
    width: 80%;

    @include sp {
      margin: 6% auto;
      width: 100%;
    }

    .modal-menu-online-list {
      font-size: 105%;
      margin: 3% 0;
      background-color: white;
      padding: 4% 12%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include sp {
        margin: 5% 0;
        font-size: 100%;
        padding: 4% 6%;
      }

      .modal-menu-online-list-title {
        color: #534744;
      }

      .modal-menu-online-list-btn {
        a {
          display: inline-block;
          border-radius: 20px;
          background-color: #cf92a0;
          color: white;
          padding: 7% 0;
          width: 120px;
        }
      }
    }
  }
}

.footer_ {
  background-color: #3b3978;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  & .footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    @include pc(sp){
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      text-align: left;
      }
    & a {
      color: white;
      &.line {
        max-width: 40px;
        grid-column: 1 / -1; /* 横幅いっぱい使う */
        justify-self: center;
        margin-top: 8px;
      }
      @include pc(sp){
      width: 100%;
      }
    }
  }
  & .copyright {
    color: white;
    font-size: 0.875rem;
}
}

.footer {
  display: none !important;
}

.btn-anime:hover {
  opacity: 0.8;
  transition: 0.3s;
}

header .nav ul {
  display: flex;
  align-items: center;
}
header .nav ul li{
  margin: 0 10px;
  @include pc(nb){
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {

  header .logo {
    width: 30vw;
  }

  header .header-menu {
    width: 10%;
  }

  header .header-menu img {
    width: 100%;
    max-width: 30px;
  }

  .nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: -100vh;
    background-color: #f5f4f2;
    color: white;
    transition: all 0.5s;
  }

  header .nav ul {
    display: block;
  }

  .nav.active {
    top: 0%;
    transition: all 0.5s;
  }

  .nav .nav-close {
    position: absolute;
    width: 4vw;
    right: 5vw;
    top: 5.5vw;
    @include pc(sp){
      width: 5vw;
      right: 7vw;
      top: 6vw;
    }
  }

  .nav .nav-logo {
    padding: 5% 4%;
  }

  .nav .nav-logo img {
    width: 250px;
    margin: 0;
    @include pc(tb){
      width: 200px;
    }
  }

  .nav {
    & ul {
    width: 90%;
    margin: auto;
    @include pc(sp){
      width: 85%;
    }
    }
  }

  .nav li {
    padding: 2% 0%;
    margin: 0;
    @include pc(tb){
      padding: 2.5% 0%;
    }
    & a {
      color: #3b3978;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      @include pc(tb){
        font-size: 16px;
      }
    }
  }

  .nav li:last-child {
    border-bottom: solid 0px;
  }

  footer {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .title h2 {
    margin-top: 30px;
    font-size: 140%;
  }

  .title span {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .store {
    max-width: auto;
    min-width: auto;
    width: 100%;
  }

  .store .title {
    padding: 3% 5% 0;
  }

  .store-container {
    padding: 4% 7% 9%;
    width: 100%;
  }

  .store-logo {
    position: relative;
    right: auto;
    top: auto;
    width: 40%;
    margin: 5% 0;
  }

  .store-address-title {
    padding: 5px;
    margin: 20px 0;
  }

  .store-line {
    top: 5%;
    left: auto;
    right: 0;
  }

  .store-address-map {
    margin: 10px 0;
    width: 100%;
    height: 300px;
  }

  .modal-body {
    width: 98%;
  }

  .modal-line-step {
    width: 100%;
  }

  .modal-line-step img {
    height: 70%;
  }

  .modal-call-title span,
  .modal-line-title span,
  .modal-menu-online-title span {
    font-size: 150%;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 4% 5%;
    width: 100%;
  }
}

header nav li a.header-nav-online:hover::after {
  transform: scale(0);
}
header nav li a.header-nav-online:hover {
  opacity: 0.8;
}
header nav li a.header-nav-web:hover::after {
  transform: scale(0);
}
header nav li a.header-nav-web:hover {
  opacity: 0.8;
}

.header-nav-online {
  display: block;
  background: #63abd7;
  color: white;
  padding: 1vh;
  border-radius: 8px;
  @include pc(nb){
    padding: 1vh;
    padding: 0;
    background: none;
  }
}

.header-nav-web {
  display: block;
  background: #3b3978;
  color: white;
  padding: 1vh;
  border-radius: 8px;
  @include pc(nb){
    padding: 1vh;
    padding: 0;
    background: none;
  }
}

.nav-sp-child {
  display: none;
}

.js-accordion.is-open .nav-sp-child {
  display: block;
}

.nav-sp-link {
  position: relative;
  @include pc(nb){
    display: block;
  }

    &::after {
      @include pc(nb){
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 25px;
      height: 25px;
      background: url(../images/common/arrow.webp) no-repeat center / 100%;
      transform: translateY(-50%);
      }
      @include pc(sp){
        width: 15px;
        height: 15px;
      }
    }

  &.has-plus {
    // ✅ 親直下のaだけ
    & > a {
      display: block;
      width: 100%;
      position: relative;
      @include pc(nb){
        font-size: 20px;
      }
      @include pc(tb){
        font-size: 16px;
      }
      &::after {
        @include pc(nb){
        position: absolute;
        content: "";
        width: 35px;
        height: 35px;
        right: -0.5vw;
        top: 50%;
        transform: translateY(-50%);
        background: url(../images/common/plus.webp) no-repeat center / 100%;
        }
        @include pc(sp){
          width: 22px;
          height: 22px;
        }
      }
    }

    &.is-open {
      &  a::after {
        background: url(../images/common/minus.webp) no-repeat center / 100%;
      }

      & .nav-sp-child {
        margin-top: 30px;
        @include pc(tb){
          margin-top: 10px;
        }
        & li {
          padding: 2% 0;
          @include pc(tb){
            padding: 2.5% 0;
          }

          &::after { display: none; }

          & a {
            display: block;
            width: 100%;
            font-size: 18px;
            position: relative;
            @include pc(tb){
              font-size: 14px;
            }
            &::after {
              @include pc(nb){
              position: absolute;
              content: "";
              width: 25px;
              height: 25px;
              right: -4.5vw;
              top: 50%;
              transform: translateY(-50%);
              background: url(../images/common/arrow.webp) no-repeat center / 100%;
              }
              @include pc(sp){
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }

    &::after { display: none; }
  }

  &.web {
    margin: 0 5px;
    @include pc(nb){
      margin: 0;
    }
  }
  &.line {
    width: 40px;
    margin: 0px;
    margin-left: 1vw;
    @include pc(nb){
      width: 100px;
      margin: auto;
    }
    @include pc(tb){
      width: 60px;
      margin: auto;
    }
    &::after {
      display: none;
    }
  }
}

/* 診療内容の子メニューは初期は閉じる（SPナビ内だけ） */
#nav-sp .js-accordion > .nav-sp-child {
  display: none;
}
img {
  display: block;
  margin: auto;
  width: 100%;
}

section {
  display: block;
  padding: 70px 0;
  & h2 {
    font-size: 25px;
    text-align: center;
    color: #3b3978;
    margin-bottom: 50px;
    &.left {
      text-align: left;
    }
    &#news {
      margin-bottom: 60px;
    }
  }
  & .container {
    max-width: 1040px;
    width: 100%;
    margin: auto;
    @include pc(nb){
      width: 90%;
    }
    @include pc(sp){
      width: 85%;
    }
  }
}

.bacground-gray {
 background: #fafafa;
}

.news-list {
  & li {
    padding: 25px 0;
    border-bottom: solid 2px #eaeaea;
    &:first-child {
      border-top: solid 2px #eaeaea;
    }
    & time {
      color: #3b3978;
      margin-right: 40px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}