@import "./mixin";

.doctor {
  position: relative;
}

.doctor hr {
  margin-top: 15%;
  margin-left: -40px;
  width: 60%;
}

.doctor-object {
  padding-left: 10%;
}

.doctor-object img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .doctor-about {
    display: flex;
    margin-top: -10%;
  }
}

.doctor .doctor-about hr {
  margin-top: 15%;
  margin-left: -40px;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .doctor .doctor-about hr {
    margin: 15% auto 2%;
    width: 40%;
  }
}

.doctor-img {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .doctor-img {
    margin-left: auto;
    width: 80%;
  }
}

.doctor-img img {
  width: 100%;
}

.doctor-about-body {
  width: 70%;
  padding: 15% 6% 8%;
}

@media screen and (max-width: 767px) {
  .doctor-about-body {
    padding: 12% 6% 5%;
    width: 100%;
  }
}

.doctor-about-body h1 {
  font-size: 200%;
}

@media screen and (max-width: 767px) {
  .doctor-about-body h1 {
    font-size: 130%;
  }
}

.doctor-about-body .sub-title {
  color: #cf92a0;
  display: inline-block;
  margin: 3% 0;
}

@media screen and (max-width: 767px) {
  .doctor-about-body .sub-title {
    font-size: 80%;
  }
}

.doctor-about-body p {
  padding: 2% 0;
  line-height: 200%;
}

@media screen and (max-width: 767px) {
  .doctor-about-body p {
    line-height: 180%;
    font-size: 90%;
  }
}

.doctor-detail {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: space-between;

  @include sp {
    width: 90%;
    display: block;
    margin: auto;
    justify-content: space-between;
  }
}

.doctor-detail .doctor-detail-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .doctor-detail .doctor-detail-container {
    width: 100%;
  }
}

.doctor-detail {
  .history {
    width: 100%;
    margin-bottom: 10%;

    @include sp {
      font-size: 95%;
    }

    ul {
      width: 100%;

      li {
        display: flex;
        align-items: center;

        .year {
          width: 18%;

          @include sp {
            width: 24%;
          }
        }

        .title {
          &::before {
            padding-right: 3px;
            content: "|";
          }

          @include sp {
            line-height: 110%;
            width: 76%;
          }

          .adjust {
            @include pc {
              display: none;
            }
          }
        }
      }
    }
  }

  .qualification {
    width: 70%;

    @include sp {
      width: 100%;
    }
  }

  .affiliation {
    margin-left: 3%;
    width: 27%;

    @include sp {
      width: 100%;
    }
  }
}

// @media screen and (min-width: 768px) {
//   .doctor-detail .doctor-detail-container .doctor-detail-container-adujust {
//     padding-bottom: 10%;
//   }
// }

.doctor-detail .doctor-tag {
  display: inline-block;
  border: 1px solid #cf92a0;
  color: #cf92a0;
  padding: 7px 25px;
  font-size: 110%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .doctor-detail .doctor-tag {
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 90%;
  }
}

.doctor-detail li {
  margin: 15px 0;
}

@media screen and (max-width: 767px) {
  .doctor-detail li {
    font-size: 90%;
  }
}

.doctor-detail hr {
  margin: 16% auto 2%;
  width: 60%;
}
