@import "./mixin";

.price {
  margin: auto;

  @include pc {
    width: 60%;
    min-width: 1000px;
    max-width: 1250px;
  }

  @include sp {
    width: 100%;
  }
}

.price-kv {
  position: relative;

  img {
    width: 100%;
  }

  .price-kv-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;

    @include sp {
      font-size: 200%;
    }
  }
}

.price-about {
  margin: 80px 0;

  @include sp {
    margin: 60px 0;
    padding: 0 15px;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 20px;

    @include sp {
      font-size: 160%;
    }
  }

  p {
    line-height: 140%;
  }
}

.price-list-container {
  margin-bottom: 60px !important;

  @include sp {
    padding: 0 15px !important;
  }

  h2 {
    padding: 10px 20px;
    margin-bottom: 50px !important;
    font-size: 120%;
    background: transparent linear-gradient(270deg, #f9d7de 0%, #d98599 100%) 0%
      0% no-repeat padding-box;
    color: white;
  }

  .wp-block-table td,
  .wp-block-table th {
    border: 0px solid;
  }
}

.price-list-table {
  .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    h3 {
      background-color: #fdeff2;
      font-weight: 500;
      font-size: 110%;
      color: #534744;
      width: 30%;
      display: flex;
      align-items: center;
      padding: 15px 20px;

      @include sp {
        width: 100%;
      }
    }
  }

  .wp-block-table {
    width: 70%;

    @include sp {
      width: 100%;
    }

    table {
      border-collapse: collapse;
      tr {
        box-sizing: border-box;
        border-bottom: 20px solid white;
        border-right: 5px solid white;

        @include sp {
          display: flex;
          flex-wrap: wrap;
        }

        td {
          padding: 15px 20px;
        }

        td:nth-child(1),
        td:nth-child(2) {
          box-sizing: border-box;
          color: #cf5e79;
          position: relative;

          &:after {
            content: "";
            border-bottom: 1px dashed black;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 10px;
          }
        }
        td:nth-child(1) {
          color: #cf92a0;
          width: 40%;
          text-align: left;

          @include sp {
            width: 65%;
          }
        }
        td:nth-child(2) {
          font-weight: bold;
          color: #cf5e79;
          width: 30%;
          text-align: right;
          font-size: 110%;

          @include sp {
            width: 35%;
          }

          &:after {
            content: "";
            left: 2px;
          }
        }
      }
    }
  }
}
